.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  .chooser {
    width: 100%;
  }
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    & > * {
    }
    .flipedContent {
      font-size: var(--fontsize-p);
    }
    .frontContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      span {
        color: var(--color-text-reverse);
        font-family: var(--font-primary);
        font-size: var(--fontsize-h4);
        font-weight: 600;
      }
      svg {
        color: var(--color-text-dark-still);
        opacity: 0.5;
      }
    }
  }
  .checkAlso {
    
  }
      
}
