.btn-onclick{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    .btn-onclick-bg{
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .btn-onclick-text{
        position: relative;
    }
}

@media only screen and (pointer: fine) {
    .btn-onclick:hover{
        transition: filter 0.1s;
        filter: brightness(1.15) drop-shadow(0 0 5px var(--black-50));
    }
}