.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    cursor: grab;
    &:active{
        cursor: grabbing;
    }
  .carouselInner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }
  .navBtn {
    font-size: large;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    backdrop-filter: blur(1px);
    border: none;
    cursor: pointer;
    padding: 10px;
    &.leftBtn {
      left: 5px;
    }
    &.rightBtn {
      right: 5px;
    }
  }
  .carouselItem {
    width: 100%;
    height: auto;
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; // Example background color
    img {
        width: 100%;
        height: auto;
        -webkit-user-drag: none;
    }
  }
}

