.btn {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  padding: 0;
  transition: filter 0.2s;
  .btnBg {
    background-color: var(--localBgColor);
    backdrop-filter: var(--localBackdropFilter);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  .btnLink {
    display: block;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }
  .btnText {
    color: var(--localTextColor);
    position: relative;
  }
  &.bgHover .btnBg {
    transition: background-color 0.2s;
  }
  &.colorFillLeft {
    .btnBg::before {
      content: "";
      position: absolute; /* Ensure it is positioned relative to its parent */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--localBgHoverBorderRadius);
      background-color: var(--localBgHoverColor) !important;
      transform: translateX(-100%);
      transition: transform 0.4s ease;
    }
    .btnText {
      background: linear-gradient(
        to right,
        var(--localTextHoverColor) 50%,
        var(--localTextColor) 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background-position 0.4s ease;
      background-size: 200% 100%;
      background-position: 100% 0;
    }
  }
  &.colorFillRight {
    .btnBg::before {
      content: "";
      position: absolute; /* Ensure it is positioned relative to its parent */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--localBgHoverColor) !important;
      transform: translateX(100%);
      transition: transform 0.4s ease;
    }
    .btnText {
      background: linear-gradient(
        to right,
        var(--localTextHoverColor) 50%,
        var(--localTextColor) 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background-position 0.4s ease;
      background-size: 200% 100%;
      background-position: -100% 0;
    }
  }
  &.colorFillBottom {
    .btnBg::before {
      content: "";
      position: absolute; /* Ensure it is positioned relative to its parent */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--localBgHoverColor) !important;
      transform: translateY(100%);
      transition: transform 0.4s ease;
    }
    .btnText {
      background: linear-gradient(
        to bottom,
        var(--localTextHoverColor) 50%,
        var(--localTextColor) 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background-position 0.4s ease;
      background-size: 100% 200%;
      background-position: 0 -100%;
    }
  }
  &.colorFillTop {
    .btnBg::before {
      content: "";
      position: absolute; /* Ensure it is positioned relative to its parent */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--localBgHoverColor) !important;
      transform: translateY(-100%);
      transition: transform 0.4s ease;
    }
    .btnText {
      background: linear-gradient(
        to bottom,
        var(--localTextHoverColor) 50%,
        var(--localTextColor) 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background-position 0.4s ease;
      background-size: 100% 200%;
      background-position: 0 100%;
    }
  }
}

@media only screen and (pointer: fine) {
  .btn {
    &:hover {
      filter: var(--localFilter);
    }
    &.bgHover:hover {
      .btnBg {
        background-color: var(--localBgHoverColor) !important;
      }
    }
    &.colorFillLeft:hover {
      .btnText {
        background-position: 0 0;
      }
      .btnBg::before {
        transform: translateX(0);
      }
    }
    &.colorFillRight:hover {
      .btnText {
        background-position: 0 0;
      }
      .btnBg::before {
        transform: translateX(0);
      }
    }
    &.colorFillBottom:hover {
      .btnText {
        background-position: 0 0;
      }
      .btnBg::before {
        transform: translateY(0);
      }
    }
    &.colorFillTop:hover {
      .btnText {
        background-position: 0 0;
      }
      .btnBg::before {
        transform: translateY(0);
      }
    }
  }
}
