.main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  .sectionTitle {
    margin: 0;
    text-align: left;
  }
  section.contacts {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    flex-wrap: wrap;
    .contactsContainer {
      margin: 0;
      flex: 1 1 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      h2 {
        margin: 0;
        text-align: left;
      }
      p {
        text-align: left;
      }
      .mainContacts {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        // position: relative;
        // .popupCopied {
        //   position: absolute;
        //   padding: 8px 12px;
        //   white-space: nowrap;
        //   z-index: 1000;
        //   font-family: var(--font-secondary);
        //   font-size: var(--fontsize-h6);
        //   border-radius: 20px;
        //   background-color: var(--color-ascent);
        //   color: var(--color-text-dark-still);
        //   transform: translate(-50%, -50%);
        // }
        .address,
        .phone,
        .email,
        .ico {
          text-decoration: none;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          border-radius: 25px;
          margin: 0;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          width: min-content;
          .specContainer {
            position: relative;
            margin: auto 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            min-width: calc(100%);
            right: calc(clamp(16px, 2vw, 24px) + 2 * clamp(10px, 1.5vw, 15px) + 1rem);
            .contactTitle {
              position: relative;
              padding-left: calc(clamp(16px, 2vw, 24px) + 2 * clamp(10px, 1.5vw, 15px) + 1rem);
              width: calc(100% - calc(clamp(16px, 2vw, 24px) + 2 * clamp(10px, 1.5vw, 15px) + 1rem));
              margin: 0;
              text-align: left;
              span {
                position: absolute;
                margin: -4px 0 0 5px;
                padding: 5px 15px;
                border-radius: 20px;
                font-family: var(--font-secondary);
                font-size: var(--fontsize-small);
                color: var(--color-text);
                background: var(--color-ascent);
                background-clip: none;
                -webkit-background-clip: none;
                -webkit-text-fill-color: initial;
              }
            }
            .contactValue {
              position: relative;
              padding-left: calc(clamp(16px, 2vw, 24px) + 2 * clamp(10px, 1.5vw, 15px) + 1rem);
              width: calc(100% - calc(clamp(16px, 2vw, 24px) + 2 * clamp(10px, 1.5vw, 15px) + 1rem));
              margin: 0;
              text-align: left;
              white-space: nowrap;
              font-family: var(--font-secondary);
              font-size: var(--fontsize-small);
            }
          }
          &::before {
            content: "";
            position: absolute; /* Ensure it is positioned relative to its parent */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 25px;
            background-color: var(--color-secondary) !important;
            transform: translateX(-100%);
            transition: transform 0.4s ease;
          }
          .specContainer .contactTitle, .specContainer .contactValue {
            background: linear-gradient(
              to right,
              var(--color-text-reverse) 50%,
              var(--color-text) 50%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background-position 0.4s ease;
            background-size: 200% 100%;
            background-position: 100% 0;
          }
        }
      }
      h6 {
        margin: 0;
        text-align: left;
      }
      .additionalContacts {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
      }
    }
    .photoContainer {
      margin: 0;
      flex: 1 1 40%;
      display: flex;
      align-items: center;
      img {
        width: 75%;
        height: auto;
      }
    }
    .iconContainer {
      margin: auto 0;
      background-color: var(--color-secondary);
      padding: clamp(10px, 1.5vw, 15px);
      border-radius: 50px;
      height: clamp(16px, 2vw, 24px);
      width: clamp(16px, 2vw, 24px);
      cursor: pointer;
      display: flex;
      align-content: center;
      svg {
        aspect-ratio: 1 / 1;
        fill: var(--color-text-reverse);
      }
    }
  }
  section.form {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    flex-wrap: wrap;
  }
}

@media only screen and (pointer: fine) {
  .main {
    section.contacts {
      .contactsContainer {
        .mainContacts {
          .address,
          .phone,
          .email,
          .ico {
            &:hover {
              .specContainer h6, .specContainer span {
                background-position: 0 0;
              }
              &::before {
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
  }
}
